    
    /* ------------------------------------------------
    Columns and rows
    --------------------------------------------------*/

    #wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 59px);
    }
    
    .row{
    margin-top: 25px;
    display: flex;
    height: 70px;
    }
    
    .col{
    height: 200px;
    background-color: #2b2b2b;
    box-shadow: 3px 3px 4px #1f1f1f;
    border-radius: 3px;
    }
    
    body{
    background-color: #1f1f1f;
    }
    
    .col + .col{
    margin-left: 25px;
    }
    
    .one{
    width: calc(50% - 12.5px);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: white;
    }
    
    /* ------------------------------------------------
    Row text styling
    --------------------------------------------------*/
    
    .one p{
    display: inline;
    
    font-size: 12px;
    }
    
    .one .value{
    padding-left: 7px;
    font-size: 20px;
    }
    
    /* ------------------------------------------------
    Icon styling
    --------------------------------------------------*/
    
    .fas{
    font-size: 20px;
    }
    
    .fa-heart{
    color: #ff3b3b;
    }
    
    .fa-utensils{
    color: #18a865;
    }
    
    .fa-walking{
    color: #4f21b0;
    }
    
    .fa-mountain{
    color: #83d420;
    }
    
    .fa-fire{
    color: #f59918;
    }
    
    .fa-weight{
    color: #cf139c;
    }