    /* ------------------------------------------------
    Main header and title
    --------------------------------------------------*/
    
    header{
    min-width: 100%;
    background-color: #0d0d0d;
    overflow: hidden;
    }
    
    header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .title{
    height: 54px;
    }
    
    .title h1{
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 58px;
    letter-spacing: .4px;
    text-transform: uppercase;
    }
    
    /* ------------------------------------------------
    Nav styling
    --------------------------------------------------*/
    
    nav {
    text-align: right;
    height: 59px;
    font-size: 100%;
    margin-left: 40px;
    }
    
    nav ul{
    list-style: none;
    font-size: 0;
    }
    
    nav ul li{
    display: inline;
    line-height: 60px;
    cursor: default;
    }
    
    nav ul li a{
    font-size: 14px;
    color: white;
    font-weight: 798;
    text-decoration: none;
    letter-spacing: .8px;
    text-transform: none;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    }
    
    nav ul li a:hover{
    opacity: 0.6;
    }
    
    nav ul li+ li{
    margin-left: 25px;
    }
    
    /* ------------------------------------------------
    Input Search Bar
    --------------------------------------------------*/
    
    input{
    height: 30px;
    background-color: #1f1f1f;
    width: 340px;
    border-radius: 3px;
    color: white;
    padding-left: 15px;
    font-size: 13px;
    padding-top: 1px;
    letter-spacing: 3px;
    }
    
    input[ type="text" ]{
    background: #1f1f1f url(../img/search.png) no-repeat 95% center;
    background-size: 14px 14px;
    outline: none;
    }
    
    ::placeholder{
    color: white;
    letter-spacing: 0.5px;
    }