    
    /*
    --------------------------------------------------------
    INITIAL LANDING SCREEN OF PAGE
    --------------------------------------------------------
    */

    .landing-screen{
        height: calc(100vh - 60px);
        width: 100%;
        background-image: url(../../images/aboutme.jpg);
        background-size: cover;
        background-position:center;
        display: flex;
        justify-content: left;
        align-items: center;
 

        }
        
        .landing-screen .container .text-container{
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        justify-content: left;
        align-items: center;
    
        }
        
    
        
        .landing-screen h2{
        width: 100%;
        font-size: 70px;
        letter-spacing: 10px;
        margin: 0 auto;
        color: #26343d;
        text-align: center;
            margin-bottom: -34px;
        }

        .landing-screen h2:nth-child(1){
            margin-top: -130px;
            }

            .landing-screen h2:nth-child(2){
               margin-left: 30px;
                }
                .landing-screen h2:nth-child(3){
                    margin-left: 60px;
                    }
    
        
    
        


    /*
    --------------------------------------------------------
    LANDING SCREEN2
    --------------------------------------------------------
    */
    
    .landing-screen2{
        height:500px;
        width: 100%;
        background-image: url(../../images/beach.jpg);
        background-position:center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        .landing-screen2 .text-container h2{
            color: #faf9f5;
            font-size: 28px;
        }
        
        .landing-screen2 .text-container{
    
        color: #faf9f5;
        width: 380px;
        font-weight: 100;
  
        }
        
        .landing-screen2 .text-container p{
        line-height: 1.7;
        margin-bottom: 25px;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        }










        /*
    --------------------------------------------------------
    About me section
    --------------------------------------------------------
    */


    .content-1{
        padding: 40px;
        width: 100%;
        color: #26343d;
        display: flex;
        justify-content: center;
        align-items: center;

        
        }
        
        /*
        --------------------------------------------------------
        Columns styling
        --------------------------------------------------------
        */
    
        .col1 {
        width: 400px;
        height: 600px;
        }
        
        .col-content1 {
        position: relative;
        width: 100%;
        height: 600px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        
    
        /*
        --------------------------------------------------------
        Columns content
        --------------------------------------------------------
        */
    
        .col-content1 img{
        height: 500px;
        width: 350px;
        box-shadow: 20px 20px 48px 0 rgba(203, 207, 212, .3);
        object-fit: cover;
        object-position: center;
        }
        
    
        
        .content1 .text-container{
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        padding-left: 30px;
        }
        
        .content1 .text-container h2{
        color: #606366;
        margin-bottom: 10px;
        }
        
        .content1 .text-container p{
        margin-top: 2px;
        line-height: 22px;
        height: auto;
        margin-bottom: 15px;
        font-weight: 600;
        color: #8f9294;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14.5px;
        }
        
 
        .lrn-btn{
        padding: 14px 23px;
        text-decoration: none;
        font-weight:600;
        color: #797c80;
        background-color: #ebe6da;
        transition: 0.2s ease-in-out;
        letter-spacing: 2.5px;
    
        border-radius: 10px;
        }
        
        .lrn-btn:hover{
        color: #646970;
        background-color: #d1ccbe;
        }
        
        
        

        /*
    --------------------------------------------------------
    Media Queries
    --------------------------------------------------------
    */

     
        
    @media screen and (min-width: 320px){
        .text-container .text{
            margin-left: -38px;
        }

        .landing-screen h2{
            font-size: 30px;
            margin-bottom: -14px;
            }
    
            .landing-screen h2:nth-child(1){
                margin-top: -100px;
                }
    
                .landing-screen h2:nth-child(2){
                   margin-left: 30px;
                    }
                    .landing-screen h2:nth-child(3){
                        margin-left: 60px;
                        }
    }

    
    @media screen and (min-width: 580px){
        .landing-screen h2{
            font-size: 42px;
            margin-bottom: -21px;
            }
    
            .landing-screen h2:nth-child(1){
                margin-top: -100px;
                }
    
                .landing-screen h2:nth-child(2){
                   margin-left: 30px;
                    }
                    .landing-screen h2:nth-child(3){
                        margin-left: 60px;
                        }
    }
    
    
    @media screen and (min-width: 768px) {
        .landing-screen h2{
            font-size: 60px;
            margin-bottom: -29px;
            }
    
            .landing-screen h2:nth-child(1){
                margin-top: -130px;
                }
    
                .landing-screen h2:nth-child(2){
                   margin-left: 30px;
                    }
                    .landing-screen h2:nth-child(3){
                        margin-left: 60px;
                        }
    }
    
    
    @media screen and (min-width: 1024px){
        .landing-screen h2{
            font-size: 70px;
            margin-bottom: -34px;
            }
    
            .landing-screen h2:nth-child(1){
                margin-top: -130px;
                }
    
                .landing-screen h2:nth-child(2){
                   margin-left: 30px;
                    }
                    .landing-screen h2:nth-child(3){
                        margin-left: 60px;
                        }
    }















    



    
    
    @media screen and (min-width: 320px){
        .container, .row-container{
                 max-width: 400px;
                 }  
     
                 .col-lg-3{
                     flex: 0 0 100%;
                     }
     
                 .col-delete{
                     display: none;
                 }
     
                           
         .content-1 .text-container{
             width: 320px;
         }
         }
         
     
     
     
     
         @media screen and (min-width: 580px){
     
             .container, .row-container{
                 max-width: 650px;
                 }
     
                 .col-lg-3{
                     flex: 0 0 100%;
                     }
     
                 .col-delete{
                     display: none;
                 }
                 
                 .content-1 .text-container{
                     width: 370px;
                 }
         }
     
     
     
     
         @media screen and (min-width: 768px) and (max-width: 1024px){
             .container, .row-container{
                 max-width: 800px;
                 }
                 
                 .col-lg-3{
                 flex: 0 0 100%;
                 }
             
                 .col-delete{
                     display: none;
                 }
     
                 
         .content-1 .text-container{
             width: 400px;
         }
         }
         
         @media screen and (min-width: 1024px){
         .container, .row-container{
         max-width: 1140px;
         }
         
         .col-lg-3{
         flex: 0 0 50%;
         }
     
         .col-delete{
             display: block;
         }
     
         .content-1 .text-container{
             width: auto;
         }
     
         .content-1 .text-container{
             margin: 20px;
         }
         }









         
    @media screen and (min-width: 320px){
        .landing-screen2 .text-container .text{
            width: 250px;
            margin: 0 auto;
        }
    }

    
    @media screen and (min-width: 580px){
        .landing-screen2 .text-container .text{
            width: 280px;
            margin: 0 auto;
        }
   
    }
    
    
    @media screen and (min-width: 768px) {
        .landing-screen2 .text-container .text{
            width: 320px;
            margin: 0 auto;
        }
    }
    
    
    @media screen and (min-width: 1024px){
        .landing-screen2 .text-container .text{
            width: 360px;
            margin: 0 auto;
        }
    }








        
        
        
    



     