    @import "base.css";
    
    /*
    --------------------------------------------------------
    Contact me section
    --------------------------------------------------------
    */

    .content-3{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }
    
    /*
    --------------------------------------------------------
    Column styling
    --------------------------------------------------------
    */
    
    .col2 {
    width: 400px;
    height: 600px;
    }
    
    .col-content2 {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    /*
    --------------------------------------------------------
    column content styling
    --------------------------------------------------------
    */
    
    .col-content2 img{
    height: 500px;
    width: 350px;
    box-shadow: 20px 20px 48px 0 rgba(203, 207, 212, .5);
    object-fit: cover;
    object-position: center;
    margin-left: 30px;
    }
    
    .content2 .text-container{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: #656769;
    }
    
    .content2 .text-container h2{
        color: #777a7d;
        margin-bottom: 10px;
    }

    .content2 .text-container p{
    margin-top: 7px;
    font-size: 16px;
    line-height: 21px;
    height: auto;
    margin-bottom: 10px;
    font-weight: 300;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15.5px;
    }
    
    .content2 .text-container p + p{
    margin-bottom: 50px;
    margin-top: 0;
    }
    
    /*
    ------------------------------------------------------------------------------
    MEADIA QUERIES
    ---------------------------------------------------------------------------
    */

    /*
    --------------------------------------------------------
    CONTACT ME SECTION SIZING
    --------------------------------------------------------
    */
    
    @media screen and (min-width: 320px){
        .content-3 .container{
            width: 100%;
        }

        .container, .row-container{
        max-width: 400px;
        }
        
        .col-lg-3{
        flex: 0 0 100%;
        }
        
        .col-delete{
        display: none;
        }
        
        .content-3 .text-container{
        width: 320px;
        padding: 0;
        }
    }
    
    @media screen and (min-width: 580px){
        .content-3 .container{
            width: 100%;
        }

        .container, .row-container{
        max-width: 650px;
        }
        
        .col-lg-3{
        flex: 0 0 100%;
        }
        
        .col-delete{
        display: none;
        }
        
        .content-3 .text-container{
        width: 370px;

        }
    }
    
    @media screen and (min-width: 860px){
        .content-3 .container{
            width: 100%;
        }

        .container, .row-container{
        max-width: 1000px;
        }
        
        .col-lg-3{
        flex: 0 0 50%;
        }
        
        .col-delete{
        display: block;
        }
        
        .content-3 .text-container{
        width: 380px;
        padding: 20px;
        }
    }
    
    @media screen and (min-width: 1024px){
        .content-3 .container{
            width: 80%;
        }

        .container, .row-container{
        max-width: 1140px;
        }
        
        .col-lg-3{
        flex: 0 0 50%;
        }
        
        .col-delete{
        display: block;
        }
        
        .content-3 .text-container{
        width: auto;
        }
        
        .content-3 .text-container{
        margin: 20px;
        padding: 30px;
        }
    }



