    @import "base.css";
    
    /*
    --------------------------------------------------------
    Article section
    --------------------------------------------------------
    */

    .content-2{
    height: 650px;
    background-image: url(../../images/white-room.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center
    }
    
    /*
    --------------------------------------------------------
    Hero banner for article section
    --------------------------------------------------------
    */
    
    .landing-screen2 .container{
    width: 70%;
    }
    
    .landing-screen2 .container .text-container{
    width: 100%;
    height: calc(650px - 60px - 50px);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 50px;
    }
    
    .landing-screen2 h2{
    margin-top: 40px;
    width: 100%;
    font-size: 68px;
    color: #41464f;
    margin-bottom: 0px;
    }
    
    .landing-screen2 .lrn-btn{
    background-color: #41464f;
    color: #e6e6e8;
    }
    
    .landing-screen2 .lrn-btn:hover{
    background-color: rgba(65, 70, 79, 0.65);
    color: white;
    }
    
    .landing-screen2 p {
    width: 100%;
    color:#41464f;
    font-weight: 600;
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 40px;
    }

    /*
    ------------------------------------------------------------------------------
    MEADIA QUERIES
    ---------------------------------------------------------------------------
    */

    /*
    --------------------------------------------------------
    ARTICLE SECTION SIZING
    --------------------------------------------------------
    */
    
    @media screen and (min-width: 320px){
        .landing-screen2 .container{
        width: 100%;
        }
        
        .landing-screen2 .container .text-container{
        width: 100%;
        }
        
        .landing-screen2 h2{
        width: 100%;
        font-size: 54px;
        }
        
        .landing-screen2 .container .text-container{
        margin-left: 10px;
        }
        
        .landing-screen2 p {
        width: 100%;
        font-size: 16px;
        }
    }
    
    @media screen and (min-width: 580px){
        .landing-screen2 .container{
        width: 80%;
        }
        
        .landing-screen2 .container .text-container{
        width: 100%;
        }
        
        .landing-screen2 .container .text-container{
        margin-left: 10px;
        }
        
        .landing-screen2 h2{
        width: 100%;
        font-size: 62px;
        
        }
        .landing-screen2 p {
        width: 100%;
        font-size: 16px;
        }
    }
    
    @media screen and (min-width: 1024px){
        .landing-screen2 .container{
        width: 70%;
        }
        
        .landing-screen2 .container .text-container{
        margin-left: -30px;
        }
        
        .landing-screen2 h2{
        width: 100%;
        font-size: 68px;
        
        }
        .landing-screen2 p {
        width: 100%;
        font-size: 16px;
        }
    }